<%- include( 'partials/_header'); -%>


<div class="list-group mx-md-auto mt-3 " style="width: 80%;" >
  <h6>Versions</h4>
  <!--div  class="list-group-item mt-3 border-top">
    <h7>1.5.0</h7><br>
      Implementa els idiomes Català, Anglès i Francès.
  </div-->
  <div  class="list-group-item mt-3 border-top">
    <h7>1.0.1 - 24/08/2021</h7><br>
    <ul>
      <li>Enllaç al projecte gitub ubicat a peu de pàgina</li>
      <li>Al iniciar l'aplicació es crea la BD, i les taules (si no existeixen)</li>
      <li>El log de producció inclou la data i hora de les peticions</li>
    </ul>
  </div>
  <div  class="list-group-item mt-3 border-top">
    <h7>1.0.0 - 23/08/2021</h7><br>
    <ul>
      <li>
        Implementa les operacions d'alta, baixa i modificació de clients, 
        amb una vista ordenada per identificador de client.
      </li>
    </ul>
  </div>
</div>


  <%- include('partials/_peu'); -%>