<%- include( 'partials/_header'); -%>


<div class="list-group mx-md-auto mt-3 " style="width: 80%;" >
  <h6>Versions</h4>
  <!--div  class="list-group-item mt-3 border-top">
    <h7>1.5.0</h7><br>
      Implementa els idiomes Català, Anglès i Francès.
  </div-->
  <div  class="list-group-item mt-3 border-top">
    <h7>1.0.0 - 23/08/2021</h7><br>
    Implementa les operacions d'alta, baixa i modificació de clients, 
    amb una vista ordenada per identificador de client.
  </div>
</div>


  <%- include('partials/_peu'); -%>