


<footer class="footer text-center mt-lg-5" >
    <p><a href="/versions">Versió:</a> 
        <%= versio %> |
        <a href="https://github.com/joan365/CRUD-sqlite3" target="_blank"> github </a>
        | &copy; 2021 - JSB </p>
</footer>
</body>
</html>